[submodule "inpainting_hm/mmediting-meme"]
	path = inpainting_hm/mmediting-meme
	url = https://github.com/JanLeyva/mmediting-meme
[submodule "mmf-models/mmf"]
	path = mmf-models/mmf
	url = https://github.com/JanLeyva/mmf
